*{
  margin: 0;
  padding: 0;
}
body{
  overflow-x: hidden;
}
.logo {
  color: blue;
}
.text-inrem {
  font-size: 1.5rem;
}
.search-bar {
  outline: 1px solid rgba(128, 128, 128, 0.402);
}
.search-bar:hover {
 border: 1px solid lightblue;
box-shadow: 2px 2px 10px rgb(175, 175, 175);
}
.custom-bg-1 {
  background-color: #137ae85f; /* Custom background color */
  color: white; /* Text color */
  border-radius: 5px;
}
.custom-bg-2 {
  background-color: #28a7458f; /* Custom background color */
  color: white; /* Text color */
  border-radius: 5px;
}
.custom-bg-3 {
  background-color: #ffc1078f; /* Custom background color */
  color: white; /* Text color */
  border-radius: 5px;
}
.product-card {
  min-height: 580px;
  position: relative;
}
.product-card:hover {
box-shadow: 0px 5px 5px rgb(175, 175, 175);
}
.card-bottom {
  position: absolute;
  bottom: 10px;
  left: 5px;
  width: 100%;
  overflow: hidden;
}
.star-icon {
  color: yellow;
}

a {
  text-decoration: none !important;
}
a:hover {
  color: blue !important;
}

.category-card:hover {
box-shadow: 0px 5px 5px rgb(175, 175, 175);
}

.productSearch {
  margin: 0;
  padding: 10px;
}

h2 {
    font: 33px sans-serif;
    margin-top: 30px;
    text-align: center;
    text-transform: uppercase;
}
.product-details {
  height: 500px;
  margin-bottom: 20px;
  overflow: hidden;
}

.font-large {
  font-size: x-large;
}



p.background {
    position: relative;
    z-index: 1;
    
    &:before {
        border-top: 2px solid #dfdfdf;
        content:"";
        margin: 0 auto; /* this centers the line to the full width specified */
        position: absolute; /* positioning must be absolute here, and relative positioning must be applied to the parent */
        top: 50%; left: 0; right: 0; bottom: 0;
        width: 95%;
        z-index: -1;
    }

    span { 
        /* to hide the lines from behind the text, you have to set the background color the same as the container */ 
        background: #fff; 
        padding: 0 15px; 
    }
}